.dark {
    --color-bg-body: #171717;
    --color-bg-card: #212121;
    --color-bg-card-hover: #333333;
    --color-bg-input: rgb(249 249 249 / 0.2);
    --color-text-title: #f9f9f9;
    --color-text-subtitle: #828282;
    --border-card: 1px;
}

.light {
    --color-bg-body: #f9f9f9;
    --color-bg-card: #E3E3E3;
    --color-bg-card-hover: #C9C9C9;
    --border-card: 0;
    --color-bg-input: rgb(0 0 0 / 0.5);
    --color-text-title: #171717;
    --color-text-subtitle: #828282;
}


@tailwind base;
@tailwind components;
@tailwind utilities;